@charset "utf-8";
/* CSS Document */



/* Navbar */
.nav-user-img {
    height: 40px;
}
.nav-user-name, .nav-user-img {
    margin-right: 1rem;
}

/* Fix Card Image Corner */
.card-img-top {
    border-radius: .25rem .25rem 0 0;
}

/* Back to Top */
.back-to-top {
	display: none;
	bottom: 2.6rem;
}

/* Rewards */
.card-reward{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card-reward:hover{
    box-shadow: 0 4px 4px rgba(0,0,0,.06), 0 4px 8px rgba(0,0,0,.06);
}

/* Elements */
.progress {
    border-radius: 20px;
}

/* Placeholder */
.setting-photo {
    width: 160px;
    height: 160px;
}







.icheck-primary > .filter-label {
    font-weight: 400 !important;
}

.filter-title {
    font-weight: 600;
    display: inline-block;
    margin: 0.5em 0;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.bb-0 {
    border-bottom: none!important;
}

.reward-content {
    color: #757575;
}
.reward-footer {
    background-color: white;
    border-top: 1px solid #e0e0e0;
    border-radius: 0 0 0.25rem 0.25rem;
}

.b-0 {
    border: none;
}